@import url("https://fonts.googleapis.com/css2?family=Rajdhani:wght@300&display=swap");

* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

a {
  -webkit-tap-highlight-color: transparent;
  &:link,
  &:visited {
    text-decoration: none;
  }
}

body {
  font-family: "ヒラギノ角ゴ StdN", "ヒラギノ角ゴ ProN",
    "Hiragino Kaku Gothic ProN", Helvetica, Arial, "メイリオ", Meiryo, verdana,
    Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
  font-family: "Rajdhani", "游ゴシック", YuGothic, sans-serif;
  font-weight: 600;
  color: #222;
  width: 100%;
  background: #fff;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
}

html,
body {
  width: 100vw;
  height: 100vh;
}
